@import "../../styles/variables.css";

.button {
  position: relative;
  display: inline-block;

  text-decoration: none;
  font-family: var(--font-family-text);

  margin: 0;
  padding: 12px 24px;
  vertical-align: middle;

  border: none;
  cursor: pointer;
  border-radius: none;
  transition: all 0.5s ease;
  background-color: var(--black);
}

.button.disabled {
  cursor: not-allowed;
}

.content {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  text-align: center;
  color: var(--white);
  font-weight: var(--medium-500);
}
