@import "../../styles/variables.css";

.wrapper {
  position: relative;

  width: calc(100vw - 2rem);
  height: calc(100vh - 4rem);

  inset: 1rem;
  border: 1px solid var(--black);
}

@media screen and (min-width: 1000px) {
  .wrapper {
    width: calc(100vw - 8rem);
    height: calc(100vh - 8rem);

    inset: 4rem;
  }
}
