@import "../../styles/variables.css";

.wrapper,
.wrapper * {
  cursor: pointer;
}

.wrapper.horizontal {
  gap: 1rem;
  display: flex;
  flex-direction: column;

  padding: 1rem 0;
}

.horizontal .image {
  height: auto;
  width: 100%;
}

.wrapper.vertical {
  padding: 1rem 0;
}

.vertical .image {
  width: 100%;
  height: auto;
}

.info-container {
  flex: 1;
  min-width: 0;
}

.title {
  font-size: 1rem;
}

.subtitle {
  font-size: 0.85rem;
  font-weight: var(--light-300);
}

.description {
  font-weight: var(--light-300);
  padding: 1rem 0;
}

@media screen and (min-width: 1050px) {
  .wrapper.horizontal {
    gap: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;

    padding: 1rem 0;
  }

  .horizontal .image {
    order: 2;
    flex-shrink: 0;

    height: auto;
    width: min(24rem, 100%);
  }
}

.wrapper {
  transition: all 0.4s linear;
}
.wrapper:hover {
  padding: 1rem;

  border-radius: 1rem;
  background-color: var(--cream);
}
