@import "../../styles/variables.css";

.wrapper.horizontal {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 0;
}

.wrapper.vertical {
  padding: 1rem 0;
}

.horizontal .image {
  order: 2;
  flex-shrink: 0;

  height: auto;
  width: min(24rem, 100%);
}

.vertical .image {
  width: 100%;
  height: auto;
}

.info-container {
  flex: 1;
  min-width: 0;
}

.title {
  font-size: 1rem;
}

.subtitle {
  font-size: 0.85rem;
  font-weight: var(--light-300);
}

.description {
  font-weight: var(--light-300);
  padding: 1rem 0;
}
