@import "../../styles/variables.css";

.nav-container {
  left: 50%;
  bottom: 1.7rem;
  position: fixed;

  padding: 0.25rem 1rem;

  border-radius: 1.75rem;
  transform: translateX(-50%);
  border: 1px solid var(--black);

  z-index: 100;
  backdrop-filter: blur(15px);
}

.nav-ul {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-li {
  position: relative;

  list-style: none;
}

.tooltip {
  top: -2.75rem;
  left: 0rem;
  position: absolute;

  font-size: 0.85rem;
  color: var(--white);

  width: max-content;
  padding: 0.3rem 0.85rem 0.35rem;

  opacity: 0;
  z-index: 200;
  visibility: hidden;
  border-radius: 0.25rem;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  background-color: var(--cream);
}

.tooltip::after {
  content: "";

  bottom: -0.25rem;
  left: 0.9rem;
  position: absolute;

  width: 0.5rem;
  height: 0.5rem;

  transform: rotate(45deg);
  background-color: var(--cream);
}

@media (pointer: fine) {
  .nav-li:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
}

.active,
.inactive {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;

  border-radius: 50%;
}

.active {
  background-color: var(--cream);
}

@media screen and (min-width: 1000px) {
  .nav-container {
    bottom: 50vh;
    left: 2.65rem;

    padding: 1rem 0.25rem;

    transform: translate(0%, 50%);
  }

  .nav-ul {
    flex-direction: column;
  }

  .tooltip {
    top: 0.25rem;
    left: 3rem;

    padding: 0.3rem 0.85rem 0.35rem;
  }

  .tooltip::after {
    bottom: 0.6rem;
    left: -0.25rem;
  }
}
