@import "../../styles/variables.css";

.wrapper.vertical {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.wrapper.vertical > .card {
  flex-grow: 1;

  min-width: min(19rem, 100%);
  width: calc((100% / 3) - 0.7rem);
}

@media screen and (min-width: 696px) {
  .wrapper.vertical > .card {
    max-width: calc(50% - 0.25rem);
  }
}
